/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
    primary: #EC411B,
    secondary: #AE0721,
    dark: #444444
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
